@import "../../../../shared/styles/base";

@include desktop {
  .burger {
    display: none;
  }
  .navigation {
    @include flex(flex-start, center);
    height: 100%;
  }
}
.user {
  display: none;
}
.backdrop {
  display: none;
}
@media screen and (max-width: 1199px) {
  .navigation {
    position: absolute;
    top: 0;
    right: 0;
    width: 274px;
    height: 100vh;
    background-color: $primary-bg-color;
    transform: translateX(0);
    transition: all 500ms ease 0s;
  }
  .wrapper {
    @include flex(flex-start, center);
  }
  .burger {
    stroke: $secondary-text-color;
    transition-duration: 500ms;

    &:hover {
      stroke: $primary-text-color;
    }
    &Close {
      transform: translateX(100%);
      transition: all 500ms ease 0s;
    }
  }
  .user {
    @include flex(center, center);
    height: 50px;
    margin-bottom: -50px;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 16px;
    width: 16px;
    stroke: white;

    &:hover {
      stroke: $primary-text-color;
    }
  }
  .backdrop {
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block !important;
  }
}
@media screen and (min-width: 768px) {
  .unAuth {
    @include flex(flex-start, center);
    height: 100%;
    background-color: transparent;
    transform: translateX(0);
  }
  .burgerUnAuth {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .burger {
    margin: 0;

    &UnAuth {
      display: block;
      stroke: $secondary-text-color;
    }
  }
}
